.card {
  position: relative;
  border-radius: 8px;
  background-color: white;
  padding: 0 20px;
  box-shadow: 2px 2px 4px 0px var(--gray);
  cursor: pointer;
}

.cardWithInfo {
  box-shadow: inset 1px 1px 4px var(--gray);
}

.card:active {
  box-shadow: inset 2px 2px 4px var(--gray);
}

.cardWithInfo:active {
  box-shadow: inset 2px 2px 4px var(--gray);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;

  box-shadow: 3px 3px 4px var(--gray);

  opacity: 0;
  transition: opacity 250ms;
  z-index: -1;
}

.cardWithInfo::before {
  box-shadow: none;
}

.card:hover::before {
  opacity: 1;
}
.card:active::before {
  box-shadow: none;
}

.muscleLabel {
  font-style: bold;
  font-size: smaller;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.lists > div {
  flex: 1;
  margin: 0 8px;
}

.lists ul {
  margin: 0 0 1em;
  padding-left: 0.5em;
  list-style: none;
  font-style: italic;
  font-weight: lighter;
  white-space: nowrap;
}

.exerciseType {
  font-style: italic;
}
